<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Endereço de email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Nome do Livro</label>
      <input class="form-control" type="text" placeholder="">    
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Nome do Escritor</label>
      <input class="form-control" type="text" placeholder="">    
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Sinopse do Livro</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>

  <input class="form-control" type="text" placeholder="Alguma informação necessária">

  <button type="submit" class="btn btn-primary">Enviar</button>

