<nav class="navbar navbar-expand-xl navbar-dark bg-dark" aria-label="Sixth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Editora Prado Monteiro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="novos-livros">Adicionar novos Livros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="novos-escritores">Adicionar novos Escritores</a>
          </li>
        </ul>
        <form role="search">
        </form>
      </div>
    </div>
  </nav>